section
    .container
        .row
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
            .col-lg-1
                div Con
section
